/*Title*/
header {
    text-align: center;
    padding:20px;
    background-color: lightgray;
}
header h1 {
    font-size: 50px;
}

/*Navigation */
nav {
    word-spacing: 30px;
    padding: 10px;
    text-align: center;
    font-size: 20px
}
nav a{
    color: #000000;
    text-decoration: none;
}

/* Two col creation */
*{
    box-sizing: border-box;
}
.row {
    display: flex;
    flex-wrap: wrap;
}

/* Newest Post Col */
.newest_post {
    flex: 60%;
    padding: 20px;
    background-color: lightslategray;
}

/*About Me Col */
.about_me {
    flex: 40%;
    padding: 20px;
    background-color: lightslategray;

}

.rightMurphy img {
    width: 60px;
    display: block;
    margin-left: 0;
    margin-right: 0;
    float: right;
    animation: flipright 2s linear infinite;
}
@keyframes flipright {
    to{
        transform: rotateZ(360deg)
   }
}

.leftMurphy img {
    width: 60px;
    display: block;
    margin-left: 0;
    margin-right: 0;
    float: left;
    animation: flipleft 2s linear infinite;
}
@keyframes flipleft {
    to {
        transform: rotateZ(-360deg);
    } 
 }

.title h1 {
    float: center;
    font-size: 38px;
}

.body img {
    width: 120px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}
   
.about_me h1 {
    text-align: center;
}

footer {
    padding: 30px;
    word-spacing: 10px;
    text-align: center;
    background-color: lightgray;
}
footer a{
    color: #000000;
    text-decoration: none;
}